<div class="page-container">
    <br>
    <div class="welcome-container">
        <h3>Welcome to Countdown!</h1>
            <img width="30%" src="/images/rach.jpg">
            <h3>Choose a selection of consonants and vowels</h4>
    </div>
    
    <div class="form-container">
        <div>
            <form action="/create" method="POST">
    
            <label for="board">Letter 1 :</label>
            <select id="letter_1" name="letter_1">
            <option value="consonant">Consonant</option>
            <option value="vowel">Vowel</option>
            </select>
            <br>
            <label for="board">Letter 2 :</label>
            <select id="letter_2" name="letter_2">
            <option value="consonant">Consonant</option>
            <option value="vowel">Vowel</option>
            </select>
            <br>
            <label for="board">Letter 3 :</label>
            <select id="letter_3" name="letter_3">
            <option value="consonant">Consonant</option>
            <option value="vowel">Vowel</option>
            </select>
            <br>
            <label for="board">Letter 4 :</label>
            <select id="letter_4" name="letter_4">
            <option value="consonant">Consonant</option>
            <option value="vowel">Vowel</option>
            </select>
            <br>
            <label for="board">Letter 5 :</label>
            <select id="letter_5" name="letter_5">
            <option value="consonant">Consonant</option>
            <option value="vowel">Vowel</option>
            </select>
            <br>
            <label for="board">Letter 6 :</label>
            <select id="letter_6" name="letter_6">
            <option value="consonant">Consonant</option>
            <option value="vowel">Vowel</option>
            </select>
            <br>
            <label for="board">Letter 7 :</label>
            <select id="letter_7" name="letter_7">
            <option value="consonant">Consonant</option>
            <option value="vowel">Vowel</option>
            </select>
            <br>
            <label for="board">Letter 8 :</label>
            <select id="letter_8" name="letter_8">
            <option value="consonant">Consonant</option>
            <option value="vowel">Vowel</option>
            </select>
            <br>
            <label for="board">Letter 9 :</label>
            <select id="letter_9" name="letter_9">
            <option value="consonant">Consonant</option>
            <option value="vowel">Vowel</option>
            </select>
            <br>
            <button type="submit" value="make_board">Make Board</button>
            </form>
        </div>
    </div>
</div>

